*{
	margin: 0;
	padding: 0;
}
/*清除格式*/

body{
	background-color: #f6f8fa;
}
/*设置背景颜色*/

#div-body{
	width: 1000px;
	margin: 0 auto;
}
/*设定宽度1000px，居中*/

#head-top{
	width: 100%;
	height: 50px;
	background-color: #616161;
}
/*顶头深蓝*/

#div-head{
	position: relative;
	width: 100%;
	height: 450px;
	background-color: #9E9E9E;
}
/*头部大蓝块*/

#head-text{
	width: 100%;
	height: 450;
	text-align: center;
	padding-top: 100px;
}
/*大蓝块文字格式*/

#head-text h1{
	color: #FFFFFF;
	font-size: 80px;
}
/*大蓝块英文*/

#head-text p{
	color: #BDBDBD;
	font-size: 30px;
}
/*大蓝块中文*/

#arrow,#more{
	position: absolute;
	font-size: 60px;
	top:20px;
}

#arrow a,#more a{
	color: #ffffff;
}
#arrow{
	left: 50px;
}
/*左上角返回键*/

#more{
	right: 50px;
}
/*右上角更多*/

#arrow:hover i,#more:hover i{
	animation: arrowhover 0.4s ease-in;
/*	animation-fill-mode:forwards;*/ 
}

@keyframes arrowhover{
	100%{transform: rotate(360deg);}
}

@keyframes morehover{
	100%{transform: rotate(360deg);}
}



#keep{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #9E9E9E;
	box-shadow:  0px 0px 20px #757575;
	position: relative;
	left: 700px;
	bottom: -145px;
}
/*右下角五角星底*/

#keep i{
	margin-top: 30px;
	margin-left: 30px;
	font-size: 20px;
	color: #ffffff;
}
/*右下角五角星*/


#keep:hover i{
	animation: ifhover 0.7s linear;
	/*animation-fill-mode:forwards; */
}

#keep:hover{
	animation: keephover 0.7s linear;
	/*animation-fill-mode:forwards; */
}

@keyframes ifhover{
	0%{
		font-size: 20px;
	}
	50%{
		font-size: 24px;
		transform: rotate(180deg);
	}
	100%{
		font-size: 20px;
		transform: rotate(360deg);
	}

}
@keyframes keephover{
	0%{
		width: 80px;
		height: 80px;
		border-radius: 40px;
		box-shadow:  0px 0px 20px #757575;
	}
	50%{
		width: 84px;
		height: 84px;
		border-radius: 42px;
		box-shadow:  0px 0px 40px #757575;
	}
	100%{
		width: 80px;
		height: 80px;
		border-radius: 40px;
		box-shadow:  0px 0px 20px #757575;
	}
}



#content{
	width: 100%;
	color: #212121;
	background-color: #ffffff;
}
/*正文内容*/

#content div{
	height: 130px;
}

#content div p{
	padding-top: 5px;
	padding-left: 50px;
	font-size: 20px;
	margin-bottom: 2px;
}

/*.content div ul{
	margin-top: 0px;
}
*/
#content div ul li{
	margin-left: 80px;

}

#content div ul li a{
	font-size: 15px;
	color: #757575;
}

#content div p i{
	color: #757575;
}


#footer{
	width: 100%;
	height: 50px;
	background-color: #ffffff00;
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
}
/*版权页*/